header {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem 7rem;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
}
header .menu {
  display: none;
}

section {
  display: flex;
  justify-content: center;
}
section.banner {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
section.banner .banner-img {
  margin-bottom: 100px;
  background-image: url("../assets/wireframe.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.banner-content {
  text-align: left;
  width: 500px;
}
.banner-content h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5.5rem;
  letter-spacing: 1rem;
  line-height: 7rem;
  max-width: 45rem;
  padding-bottom: 3rem;
  position: relative;
  /* Mixin Candidate */
}
.banner-content h2::before {
  background-color: #03faee;
  content: "";
  height: 50px;
  left: -1px;
  max-width: 21.5rem;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
}
.banner-content p {
  color: #8b8b8b;
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 500px;
}
.banner-content button {
  background-color: #03faee;
  border-radius: 5px;
  border: 1px dashed black;
  margin-right: 1.5rem;
  margin-top: 2rem;
  padding: 2rem 3rem;
}

.features {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding-bottom: 3rem;
}
.features article {
  background-color: #f8f8f8;
  font-size: 1.6rem;
  max-width: 500px;
  padding: 1rem 2rem 10rem;
  width: 27%;
  z-index: -2;
}
.features article span {
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
}
.features article span::before {
  background-color: #03faee;
  border-radius: 50%;
  border: solid 2px #03faee;
  content: "";
  height: 100%;
  left: -0.75rem;
  position: absolute;
  top: -2.5px;
  width: 100%;
  z-index: -1;
}
.features article h3 {
  margin: 2rem 0 1rem;
  position: relative;
  z-index: 1;
}
.features article h3::before {
  background-color: #03faee;
  content: "";
  height: 1rem;
  max-width: 3rem;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5rem 7rem 2rem;
  font-size: 2rem;
}
footer i {
  font-size: 2.5rem;
  margin-right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: white;
  text-align: center;
  position: relative;
}
footer i.footer-icon::after {
  background-color: #03faee;
  border: solid 2px #03faee;
  content: "";
  position: absolute;
  left: -0.75rem;
  top: -2.5px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -2;
}
footer i.footer-icon::before {
  position: relative;
  top: 11.5px;
}

@media (max-width: 992px) {
  header {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  header ul {
    margin-top: 2rem;
  }
  .banner {
    flex-direction: column-reverse;
    width: 90vw;
    margin-inline: auto;
    padding-bottom: 7rem;
  }
  .banner .banner-content {
    text-align: center;
  }
  .banner .banner-content button {
    margin-right: 4rem;
  }
  .banner .banner-img {
    width: 90vw;
  }
  .features {
    flex-direction: column;
    align-items: center;
  }
  .features article {
    width: 80vw;
    padding: 5rem 10% 7rem;
  }
}
@media (max-width: 767px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  header nav {
    display: none;
  }
  header .menu {
    display: inline-block;
    font-size: 3rem;
  }
  section.banner .banner-content {
    width: 80%;
  }
  section.banner .banner-img {
    width: 80%;
    background-size: contain;
    margin: 0;
  }
  footer {
    flex-direction: column-reverse;
    text-align: center;
  }
  footer div {
    margin-bottom: 2rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=styles.css.map */